
.loginsignup {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    height: 50vh;             
    background: linear-gradient(180deg, #fde1ff, rgba(225, 255, 234, 0.22) 60%);    
  }

h1 {
    font-family: 'Poppins', sans-serif;   
    font-size: 2.5rem;                    
    font-weight: bold;                    
    color: #9bbce0;                       
    text-align: center;                   
    text-transform: uppercase;            
  }
  
  .loginsignupContainer {
    background-color: rgb(22, 16, 16);     
    padding: 20px;              
    border-radius: 8px;         
    width: 400px; 
    height: calc(100vh -500px); 
    padding-top: 50px;   
    padding-bottom: 50px;           
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
 
  .loginsignup_fields {
    display: flex;
    flex-direction: column;    
    gap: 10px;                  
  }
  
  .loginsignup_fields input {
    padding: 10px;
    margin-bottom: 10px;        
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff; 
    color: white;              
    border-radius: 4px;        
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    background-color: #0056b3; 
  }
  